.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #555;
  padding: 10px;
  &__logo {
    height: 50px;
    margin-right: 20px;
  }
}
