.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100vw;
}
