.login-form {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 560px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 5% 7% 7%;
  max-width: 90%;
  box-sizing: border-box;
  &__wrapper {
    flex: 1;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    color: #555;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
    padding-bottom: 25px;
  }
  &__group {
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 20px;
    &--submit {
      text-align: center;
    }
  }
  &__label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #555;
    line-height: 1.4;
    text-transform: capitalize;
    padding-bottom: 5px;
    &--remember{
      display: inline-block;
      font-weight: normal;
    }
  }
  &__text-input {
    color: #555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    height: 55px;
    padding: 0 25px;
    outline: none;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-sizing: border-box;
  }
  &__validation-error {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: red;
  }
  &__submit {
    outline: none!important;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #27d4b0;
    border-radius: 27px;
    transition: all .4s;
    margin: 0 auto 10px;
    &:disabled {
      background-color: #1d9e83 !important;
      opacity: 0.5;
      cursor: not-allowed;
    }
    &:hover {
      background-color: #3967b8;
    }
  }
  &__submit-messages {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    color: red;
    &--success {
      color: green;
    }
  }
}
